.locked_feature{
    display: inline-flex;
    gap: 8px;
    align-items: center;
    color: rgba(0,0,0,0.5);
    cursor: not-allowed;
    padding: 8px 12px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.06);
}