<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY BOOKMARKS</title>
    <style>
        body {
            background-image: url('/static/bgimage3.jpeg'); 
            background-size: cover; 
            background-repeat: no-repeat; 
            color: white;
           
        }
    </style>
</head>
<body>
    <!-- Display bookmarked recipe titles -->
    <div>
        <h1>Bookmarked Recipe Titles</h1>
        <ul>
            {% for bookmark in bookmarked_recipes %}
            <li>{{ bookmark[0] }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
